@charset "utf-8";

#root > header.Find {
  background: #513736;
}

header.Find .header_inner .right_item a {
  opacity: 0.5;
  font-size: 16px;
}
//723
main#Find {
  height: 85.8%;
  padding-top: 64px;
}

#Find {
  .find_method {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 80px;
    background: #eee;

    li {
      flex: 1;
      transition: transform 300ms;

      &:hover {
        transform: scale(1.05);
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #513736;

        i {
          font-size: 22px;
          margin: 5px 0;
        }
      }
    }
  }

  .recommend_section {
    header {
      height: 22px;
      line-height: 22px;
      text-indent: 10px;
      color: #8E9399;
    }

    ul li {
      height: 54px;
      line-height: 54px;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      text-align: center;
      color: #8E9399;
      font-size: 14px;
    }
  }
}